body {
  background-color: #668ba4;
  font-family: Arial, Helvetica, sans-serif;
}

.search-btn {
  background-color: #255699;
  color: #fff;
}
.search-btn:hover {
  background-color: #668ba4;
}

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #081f37;
  border-radius: 5px;
  line-height: 28px;
  background-color: #155263;
  color: #fff;
}

.weather-forecast {
  margin-top: 18px;
  text-align: center;
}
/*.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.9;
}*/

a {
  text-decoration: none;
}
.link {
  text-align: center;
}
.App {
  margin: 20px auto;
}
